/* Profile.module.css */
.profileContainer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;

  margin-top: 90px;
}

h1 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
}

.jobList {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.jobCard {
  background-color: #fff;
  padding: 15px;
  border-radius: 0px;
  box-shadow: 0 4px 8px rgba(170, 170, 170, 0.1);
  transition: transform 0.3s ease;
}

.jobCard:hover {
  transform: translateY(-1px);
}

h3 {
  font-size: 1.5rem;
  color: #333;
}

p {
  font-size: 1rem;
  color: #666;
}

strong {
  color: #000;
}
