.popupSuccess {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.349); /* Background to dim the page */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .Succes {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 400px;
    width: 100%;
    margin: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .Succes p{
    text-align: center;
  }
  .Succes i{
    background-color: rgb(27, 202, 27);
    color: white;
    font-weight: bolder;
    font-size: 28px;
    padding: 10px;
    border-radius: 50%;
  }
  
  